<!DOCTYPE html>
<div class="zoomButtons">
    <span class="glyphicon glyphicon-plus" title="<%= zoomInText %>"></span>
    <br>
    <span class="glyphicon glyphicon-minus" title="<%= zoomOutText %>"></span>
<div>
