@import "../style.less";

.datepicker-container {
	input {
		width: 100%;
	}
}

.datepicker-inline, .datepicker-dropdown {
	background-color: @whiteColor;
	border-radius: @borderRadius12;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
	.datepicker-days {
        padding: 4px;
        .table-condensed {
			width: 100%;
			font-size: @fontSizeSmall;
			thead {
				tr {
					border-radius: @borderRadius0;
					background: none;
					.datepicker-switch {
						cursor: default;
						font-size: @fontSizeBig;
						&:hover {
							background: none;
						}
					}
					color: @darkblueColor;
					.next, .prev {
						color: @darkgreyColor;
						&:hover {
							opacity: @hoverOpacity;
							background-color: @darkblueColor;
							color: @whiteColor;
							border-radius: @borderRadius0;
						}
					}
				}
			}
			tbody tr {
                &.week {
                    &:hover {
                        outline: 2px solid #08589e;
                    }
                }
                &.week-active {
                    border-radius: @borderRadius0;
                    background-color: @darkblueColor;
                    color: @whiteColor;
                    td {
                        background-image: none;
                        &:hover {
                            background-color: @whiteColor;
                            color: @darkblueColor;
                        }
                    }
                }
				&td {
					border-radius: @borderRadius0;
					background: none;
					color: @darkgreyColor;
					&:hover {
						opacity: @hoverOpacity;
						background-color: @darkblueColor;
						color: @whiteColor;
					}
					&.today {
						border: 2px solid @darkblueColor;
					}
					&.active {
						border-radius: @borderRadius0;
						background-color: @darkblueColor;
						color: @whiteColor;
					}
                    &.disabled {
                        color: @lightgreyColor;
                    }
                    &.cw {
                        color: @darkblueColor;
                    }
				}
			}
		}
	}
    .datepicker-years {
        .table-condensed {
            width: 100%;
            font-size: @fontSizeSmall;
            thead {
                tr {
                    border-radius: @borderRadius0;
                    background: none;
                    .datepicker-switch {
                        cursor: default;
                        font-size: @fontSizeBig;
                        &:hover {
                            background: none;
                        }
                    }
                    color: @darkblueColor;
                    .next, .prev {
                        color: @darkgreyColor;
                        &:hover {
                            opacity: @hoverOpacity;
                            background-color: @darkblueColor;
                            color: @whiteColor;
                            border-radius: @borderRadius0;
                        }
                    }
                }
            }
            tbody tr td span {
                border-radius: @borderRadius0;
                background: none;
                color: @darkgreyColor;
                &:hover {
                    color: @darkblueColor;
                    outline: 2px solid #08589e;
                }
                &.active {
                    background: @darkblueColor;
                    color: @whiteColor;
                    outline: none;
                }
                &.disabled {
                    color: @lightgreyColor;
                    &:hover {
                      background: none;
                      outline: none;
                    }
                }
            }
        }
    }
}
